<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Articles</h1>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Keywords</th>
      <th scope="col">Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each_with_index do |article, index| %>
      <tr>
        <th scope="row"><%= index + 1%></th>
        <td class="font-weight-bold"><%= article.title %></td>
        <td style="max-width: 800px;"><%= article.keywords %></td>
        <td class="d-inline-block text-truncate" style="max-width: 200px;"><%= article.url %></td>
        <td><%= link_to 'Show', "/articles/#{article.id}}" %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center" style="text-color:white">
  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'New Article', new_article_path, {:style => 'color:#FFFFFF;'}%>
  </button>
</div>
