<% @user ||= current_user %>
<div class="profile-stats">
	<div class="row text-center m-t-20">
        <div class="col-lg-3 col-md-3 m-t-20">
            <h3 class="m-b-0 font-light">
                <a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %></a>
            </h3>
            <small>Followers</small>
        </div>
        <div class="col-lg-3 col-md-3 m-t-20">
            <h3 class="m-b-0 font-light">
                <a href="<%= following_user_path(@user) %>"><%= @user.following.count %></a>
            </h3>
            <small>Following</small>
        </div>
        <div class="col-lg-3 col-md-3 m-t-20">
            <h3 class="m-b-0 font-light">
                <%= @user.searches.count %>
            </h3>
            <small>Searches</small>
        </div>
    </div>
</div>
<!-- End of profile-stats -->
