
<div id="rcorner">
 <h2 style="text-align:center; color:white; font-family:Sans-serif;">Enter Text:</h2>
 <br>
 <%= form_with(model: search,url: searches_new_path,local: true) do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="center">
    <%= form.text_area :text, :cols => 40, :rows => 10 %>
  </div>
  <br>
  <div class="actions" style="text-align:center;">
    <%= form.submit 'Submit' %>
  </div>
 <% end %>
</div>
