<p id="notice" style="text-align:center;"><%= notice %></p>

<br>

<div class="card kard" style="width: 18rem;">
  <div class="card-img-top Box" style="text-align:center; font-size:60px; background-color:#F9CDAD;">
    <%= @search.score %>
  </div>
  <br>
  <div class="card-body kard-body">
    <p class="card-text"><%= "\" #{@search.text} \"" %></p>
  </div>
</div>

<div onclick="myFunction(this)" class="heart"></div>
<br>


<% if !@similar_articles.nil? %>
  <span>
    <p style="text-align:center; font-weight:bold;">Similar Articles:</p>
  </span>
<% else %>

<div class="card kard" style="width: 20rem; text-align:center;">
  <% if @similar_articles.nil? %>
    <%= "No Similar Urls found." %>
  <% else %>
    <%  @similar_articles.each do |url, score|  %>
      <div style="float:left;">
        <%= score %>
        <span class="divider"></span>
        <%= link_to url[0..20], url, :title => "Similar article"  %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- < %= link_to 'Edit', edit_search_path(@search) %> -->
<br>
<br>

<div class="text-center">
   <button type="button" id="butt" style="padding:15px 23px;">
     <% if !@user.nil? %>
      <%= link_to 'Continue', "/users/#{@user.id}/searches/new", {:style => 'color:#594F4F;'}%>
    <% else %>
      <%=  link_to 'Continue', "/searches/new", {:style => 'color:#594F4F;'} %>
    <% end %>
   </button>
   <div class="divider"></div>
   <button type="button" id="butt">
     <%= link_to 'Home', "/searches", {:style => 'color:#594F4F;'}%>
     <!-- searches_path -->
   </button>
</div>
